.textwidget input[type='text'], .textwidget textarea{width:100% !important;}.contact-form .clear-form{clear:both;}.contact-form input[type='text']{width:300px;margin-bottom:13px;}.contact-form select{margin-bottom:13px;}.contact-form textarea{height:200px;width:80%;float:none;margin-bottom:13px;}.contact-form input[type='radio'], .contact-form input[type='checkbox']{float:none;margin-bottom:13px;}.contact-form label{margin-bottom:3px;float:none;font-weight:bold;display:block;}.contact-form label.checkbox, .contact-form label.radio{margin-bottom:3px;float:none;font-weight:bold;display:inline-block;}.contact-form label span{color:#AAA;margin-left:4px;font-weight:normal;}
/*
     FILE ARCHIVED ON 14:02:24 Feb 19, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:03:32 Feb 25, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 353.788
  exclusion.robots: 0.084
  exclusion.robots.policy: 0.075
  RedisCDXSource: 82.369
  esindex: 0.007
  LoadShardBlock: 239.434 (3)
  PetaboxLoader3.datanode: 157.457 (5)
  PetaboxLoader3.resolve: 187.461 (3)
  load_resource: 342.845 (2)
*/